/* ----------------------- FONTS ----------------------- */
@font-face {
  font-family: "VTB Group UI";
  src: url("../fonts/VTBGroupUI-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "VTB Group UI";
  src: url("../fonts/VTBGroupUI-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "VTB Group UI";
  src: url("../fonts/VTBGroupUI-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

/* ----------------------- GENERAL STYLES ----------------------- */
body {
  height: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1, h2, h3, h4, p, a, li, button, label, input, textarea, span {
  font-family: "VTB Group UI";
  color: inherit;
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on, 'cv03' on, 'cv04' on;
          font-feature-settings: 'tnum' on, 'lnum' on, 'cv03' on, 'cv04' on;
}

a:hover, button:hover {
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.25rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-muted-light {
  color: #F3F4F6;
}

.text-muted {
  color: #B1B5BB;
}

.text-green {
  color: #22D9A2;
}

.title-container {
  margin: 6.25rem auto 3.5rem;
  max-width: 82.5%;
}

.title-container h2 {
  display: inline-block;
}

.title-container-number {
  margin-right: 1rem;
}

.title-container .title-text-neutral {
  color: #F3F4F6;
}

.title-container .title-text-green {
  margin: 0 .3rem;
}

.container-medium {
  margin: 6.25rem auto 5.25rem;
  max-width: 995px;
}

.container-large {
  margin: 6.25rem 1.94rem;
  max-width: 1220px;
}

@media (max-width: 1200px) {
  .container-medium {
    margin: 6.25rem auto 5.25rem;
    max-width: 970px;
  }
  .container-large {
    margin: 6.25rem 1.94rem;
    max-width: 1120px;
  }
}

@media (max-width: 992px) {
  .container-medium {
    margin: 6.25rem auto 5.25rem;
    max-width: 750px;
  }
  .container-large {
    margin: 6.25rem 1.94rem;
    max-width: 900px;
  }
}

@media (max-width: 767px) {
  .container-medium {
    margin: 6.25rem auto 5.25rem;
    max-width: none;
  }
  .container-large {
    margin: 6.25rem 1.94rem;
    max-width: none;
  }
}

.connect-bg {
  background: center no-repeat url("../images/connect-bg.png");
}

.open-interface-bg {
  background: center no-repeat url("../images/open-interface-bg.png");
}

.connect-bg, .open-interface-bg {
  background-size: cover;
  color: #fff;
  overflow: hidden;
  width: 100%;
}

.dark-gradient-bg {
  background-image: url("../images/dark-gradient-bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #F3F4F6;
  overflow: hidden;
  width: 100%;
}

.dark-grey-bg {
  background: #22242A;
  color: #F3F4F6;
  overflow: hidden;
  width: 100%;
}

.button-blue {
  color: #fff;
  background-color: #0062FF;
  font-family: "VTB Group UI";
  border-radius: 4px;
  border: none;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-blue-big {
  padding: 1rem 2rem;
  font-size: 1rem;
}

.button-blue-small {
  padding: .625rem 1.5rem;
  font-size: .875rem;
}

.button-blue-square {
  padding: 1rem;
}

.button-blue:hover {
  background-color: #0142D3;
}

.button-blue:active {
  background-color: #022D9A;
}

.button-blue:focus {
  outline: none;
}

.button-transparent {
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-transparent-big {
  padding: 1rem 2rem;
}

.button-transparent-square {
  padding: 1rem;
}

.button-transparent-square p {
  display: none;
}

.button-transparent:hover {
  background: rgba(255, 255, 255, 0.08);
}

.button-transparent:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.button-transparent:focus {
  outline: none;
}

.cookie-banner {
  max-width: 1008px;
  background-color: rgba(2, 45, 154, 0.95);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 1rem;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25rem;
}

.cookie-banner-img {
  max-width: 6.25rem;
}

.cookie-banner-text {
  margin: 0 1rem 0 .875rem;
}

.cookie-banner-text p {
  color: #ffffff;
  font-size: .875rem;
  line-height: 1.25rem;
}

.cookie-banner-text p:last-child {
  margin-top: .75rem;
}

.cookie-banner-text-link {
  text-decoration: underline;
}

.cookie-banner button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

.close-button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: .75rem;
  top: .75rem;
  border: none;
}

.close-button:focus {
  outline: none;
}

.agree-button {
  padding: .625rem 1.5rem;
  color: #ffffff;
  font-size: .875rem;
  font-weight: 500;
}

/* ----------------------- HEADER ----------------------- */
.header {
  width: 100%;
  padding: 1.313rem 2rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header-logo {
  max-width: 7rem;
}

.header-menu {
  width: 57rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu-links-item {
  margin-right: 2.25rem;
  font-size: .875rem;
  font-weight: 600;
}

.header-menu-links .active {
  color: #3A85FF;
}

.header-menu-search-and-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu-search-and-login .search-icon {
  border-right: 1px solid #ffffff;
  padding: 6px 4rem 6px 0;
}

.header-menu-search-and-login a {
  margin-left: 2.5rem;
  font-size: .875rem;
  font-weight: 600;
}

/* ----------------------- ONBOARDING CONTAINER ----------------------- */
.onboarding-bg {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.onboarding {
  color: #fff;
  position: relative;
  width: 100%;
  max-width: 79%;
}

.onboarding h3 {
  max-width: 58.1%;
  font-weight: 600;
}

.onboarding h1 {
  max-width: 62.21%;
  font-size: 300%;
  margin: 1.75rem 0 6.25rem;
}

.onboarding-image {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 2.9rem;
  top: -1.5rem;
}

.onboarding-image-round-letters {
  width: 120px;
  height: 120px;
  margin-bottom: 1.5rem;
  -webkit-animation: rotation 13s infinite linear;
  animation: rotation 13s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.onboarding-image-arrow {
  max-width: 5.75rem;
}

@media (min-width: 1670px) {
  .onboarding h3 {
    font-size: 225%;
    line-height: 2.625rem;
  }
  .onboarding h1 {
    font-size: 450%;
    line-height: 4.875rem;
  }
  .onboarding-image {
    position: absolute;
    right: 2.9rem;
    top: -1.5rem;
  }
  .onboarding-image-round-letters {
    width: 180px;
    height: 180px;
    margin-bottom: 1.5rem;
    -webkit-animation: rotation 13s infinite linear;
    animation: rotation 13s infinite linear;
  }
  .onboarding-image-arrow {
    max-width: 8.563rem;
  }
}

.onboarding-button {
  position: fixed;
  color: #fff;
  left: 10.5%;
  bottom: 15%;
  z-index: 4;
  -webkit-transition: left .3s;
  transition: left .3s;
}

.onboarding-button-text {
  margin-left: .375rem;
}

.onboarding-button-arrow {
  max-width: 8.563rem;
  position: absolute;
  right: 3.6rem;
  top: 9.5rem;
}

/* ----------------------- TARGET AUDIENCE CONTAINER ----------------------- */
.target-audience-bg {
  position: relative;
  overflow: visible;
}

.target-audience-bg-plus {
  position: absolute;
  bottom: -.8rem;
  left: 42.5%;
}

.target-audience-content-wrapper {
  overflow: hidden;
}

.target-audience-section {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.target-audience-section .decorative-img-1 {
  max-width: 26rem;
  z-index: 3;
}

.target-audience-section .decorative-img-2 {
  max-width: 30rem;
  z-index: 3;
}

.target-audience-section-info {
  width: 30.5rem;
  position: relative;
  z-index: 0;
}

.target-audience-section-info-developers-text-img {
  position: absolute;
  max-width: 53.75rem;
  top: -3.75rem;
  right: -10rem;
  z-index: -1;
}

.target-audience-section-info-business-text-img {
  position: absolute;
  max-width: 43.75rem;
  top: -4rem;
  left: -9.8rem;
  z-index: -1;
}

.target-audience-section-info h1 {
  margin-bottom: 1.5rem;
}

.target-audience-section-info-triangle {
  position: absolute;
  right: -5rem;
  top: -4rem;
}

.target-audience-section-info-plus {
  position: absolute;
  right: -1rem;
  bottom: -6.625rem;
}

.target-audience-section-info-1 {
  margin-right: 3rem;
}

.target-audience-section-info-bullets li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1.5rem;
}

.target-audience-section-info-bullets li img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}

.target-audience-section-info-bullets p {
  display: inline;
}

.target-audience-section-info-bullets .connect-instruction {
  color: #3A85FF;
  text-decoration: underline;
}

/* ----------------------- POPULAR API CONTAINER ----------------------- */
.popular-api {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.popular-api-card {
  background-color: #2D2F35;
  border-radius: 8px;
  padding: 1rem 1rem 2rem;
  max-width: 17.5rem;
  height: 26.75rem;
  position: relative;
}

.popular-api-card-icon {
  max-width: 6.25rem;
}

.popular-api-card h4 {
  margin: 1rem 0;
  max-width: 13.5rem;
  font-weight: 600;
}

.popular-api-card-text {
  margin-left: 1rem;
}

.popular-api-card-text p {
  display: inline;
  max-width: 13.5rem;
}

.popular-api-card-button {
  margin: 2.5rem 0 0 1rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.popular-api-card:last-child {
  background-color: #000;
  background-image: url("/images/card-bg-black.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6.25rem 0 2rem 2rem;
}

.popular-api-card:last-child h1 {
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.popular-api-card:last-child a {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #3A85FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-api-card-arrow {
  margin-right: .875rem;
}

@media (max-width: 1200px) {
  .popular-api {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .popular-api-card {
    display: inline-block;
    margin: 0 2rem 1rem;
  }
}

/* ----------------------- EXISTING CLIENTS CONTAINER ----------------------- */
.existing-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

@media (max-width: 1200px) {
  .existing-clients {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .existing-clients-card {
    margin: 0 .5rem 1rem;
  }
}

.existing-clients-card {
  width: 24rem;
}

.existing-clients-card-body {
  background-color: #2D2F35;
  border-radius: 8px;
  height: 12.5rem;
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.existing-clients-card-body-logo-magnit {
  max-width: 15rem;
}

.existing-clients-card-body-logo-fns {
  max-width: 9.5rem;
}

.existing-clients-card-body-logo-sogaz {
  max-width: 11rem;
}

.existing-clients-card-title {
  margin-top: 1.5rem;
  font-weight: 600;
  text-align: center;
}

/* ----------------------- CLIENT PATH CONTAINER ----------------------- */
.client-path-bg {
  position: relative;
}

.client-path {
  max-width: 63.375rem;
  height: 26.5rem;
  margin-top: 8.25rem;
  position: relative;
  z-index: 3;
}

.client-path-triangle {
  position: absolute;
  right: 19rem;
  top: -10rem;
}

.client-path-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 9.813rem;
  padding-top: .5rem;
  position: relative;
}

.client-path-steps-item {
  max-width: 11rem;
  position: absolute;
  cursor: pointer;
}

.client-path-steps-item-1 {
  left: 0;
}

.client-path-steps-item-2 {
  left: calc(12.832rem + .15rem);
}

.client-path-steps-item-3 {
  left: 26.04rem;
}

.client-path-steps-item-4 {
  left: calc(39.06rem + .15rem);
}

.client-path-steps-item-5 {
  left: 52.081rem;
}

.client-path-steps-item .step-number-img {
  max-width: 5.8rem;
  position: absolute;
  right: -2.5rem;
  top: -2.2rem;
}

.client-path-steps-item .step-number-img-first {
  right: -.625rem;
  top: -3rem;
}

.client-path-steps-item-number {
  color: #22D9A2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.client-path-steps-item h4 {
  font-weight: 600;
  width: 110%;
}

.client-path-steps:last-child {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.client-path-timeline {
  margin: 3.125rem 0 3.4rem;
  position: relative;
}

.client-path-timeline-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.client-path-timeline-wrapper .line {
  border: 1px solid #FFFFFF;
  height: 1px;
  width: 100%;
  display: block;
}

.client-path-timeline-wrapper .dot {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background-color: #fff;
  width: .5rem;
  height: .5rem;
  display: block;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  position: absolute;
  cursor: pointer;
}

.client-path-timeline-wrapper .dot-1 {
  left: 0;
}

.client-path-timeline-wrapper .dot-2 {
  left: 12.832rem;
}

.client-path-timeline-wrapper .dot-3 {
  left: 26.04rem;
}

.client-path-timeline-wrapper .dot-4 {
  left: 39.06rem;
}

.client-path-timeline-wrapper .dot-5 {
  left: 52.081rem;
}

.client-path-timeline-wrapper .dot-hovered, .client-path-timeline-wrapper .dot-clicked, .client-path-timeline-wrapper .dot:hover {
  background-color: #0736C9;
  width: .875rem;
  height: .875rem;
}

/* ----------------------- CUSTOM ARROWS ----------------------- */
.arrows {
  height: 2.5rem;
  width: .7rem;
  position: absolute;
  left: calc(12.832rem + .15rem);
  top: 1rem;
  z-index: 3;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.arrowSliding.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.arrowSliding.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.arrowSliding.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.arrow {
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
}

/* ----------------------- API SUPPLIERS CONTAINER ----------------------- */
.suppliers-list {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 2.75rem .875rem .25rem 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.suppliers-list-plus {
  position: absolute;
  right: 18.5rem;
  top: -8.25rem;
}

.suppliers-list-item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 2.5rem;
}

.suppliers-list-item-icon {
  width: 64px;
  height: 64px;
  background-color: #22242A;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.suppliers-list-item h4 {
  color: #F3F4F6;
  font-weight: 600;
  margin-left: 1.25rem;
}

.become-supplier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.become-supplier-partnership-text-img {
  max-width: 55.5rem;
  position: absolute;
  right: -10.5rem;
  top: -4.3rem;
}

.become-supplier-text {
  z-index: 3;
  max-width: 30.5rem;
  position: relative;
}

.become-supplier-text h1 {
  margin-bottom: 1.5rem;
}

.become-supplier-text-email-link {
  color: #3A85FF;
  text-decoration: underline;
}

.become-supplier-text-rhombus {
  position: absolute;
  bottom: -10rem;
  left: -.875rem;
}

.become-supplier-form {
  z-index: 3;
  width: 30.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #7B7E86;
}

.become-supplier-form label {
  font-size: .875rem;
  margin-bottom: .5rem;
}

.become-supplier-form textarea, .become-supplier-form input {
  background-color: #22242A;
  border: 1px solid #B1B5BB;
  border-radius: 4px;
  font-size: 1rem;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
}

.become-supplier-form textarea:focus, .become-supplier-form input:focus {
  outline: none;
}

.become-supplier-form textarea {
  height: 7rem;
  resize: none;
}

.become-supplier-form input {
  height: 3.5rem;
}

.become-supplier-form-button {
  max-width: 12.125rem;
}

.become-supplier-form-button-icon {
  margin-right: .45rem;
}

/* ----------------------- NEWS CONTAINER ----------------------- */
.news {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 12rem;
}

.news-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-card {
  background-color: #2D2F35;
  border-radius: 8px;
  max-width: 17.5rem;
  height: 26.75rem;
  position: relative;
}

.news-card-picture {
  width: 100%;
}

.news-card-text {
  margin: 2rem 0 0 2rem;
}

.news-card-text h4 {
  max-width: 13.5rem;
  font-weight: 600;
}

.news-card-text p {
  max-width: 13.5rem;
  margin-top: 1.5rem;
}

.news-card-button {
  margin: 2.5rem 0 0 1rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.news-card-last {
  background-color: #000;
  background-image: url("/images/card-bg-black.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6.25rem 0 2rem 2rem;
}

.news-card-last h1 {
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.card-read_more {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #3A85FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-arrow {
  margin-right: .875rem;
}

.news-action-active {
  position: absolute;
  bottom: -5rem;
  left: 41%;
}

@media (max-width: 1200px) {
  .news-cards-wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .news-card {
    display: inline-block;
    margin: 0 2rem 1rem;
  }
}

/* ----------------------- FOOTER ----------------------- */
.footer-bg {
  background-color: #111215;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 3.75rem 7rem 4.25rem 2rem;
  position: relative;
  width: 100%;
}

.footer-info {
  width: 100%;
  margin-left: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
}

.footer-info-text {
  color: #F3F4F6;
  max-width: 24rem;
}

.footer-info-text p:first-child {
  max-width: 20rem;
  margin-bottom: 1.375rem;
}

.footer-info-links {
  color: #3A85FF;
  max-width: 27rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info-links a {
  line-height: 1.5rem;
}

.footer-contacts-text-img {
  max-width: 28rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ----------------------- CATALOG PAGE ----------------------- */
.catalog-bg {
  position: relative;
  overflow: visible;
}

.catalog-bg-plus-img {
  position: absolute;
  right: 18.6%;
  bottom: -1.5rem;
  z-index: 3;
  display: none;
  -webkit-transition: display .3s ease-in-out;
  transition: display .3s ease-in-out;
}

.catalog-content-wrapper {
  overflow: hidden;
}

.catalog {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  position: relative;
}

.catalog-header {
  margin-bottom: 1rem;
}

.catalog-info {
  margin-top: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.catalog-info-description {
  font-size: 1.125rem;
  margin-bottom: 2.5rem;
}

.catalog-info-description-public {
  color: #7B7E86;
}

.catalog-info-unique {
  display: none;
}

.catalog-switch {
  position: relative;
}

.catalog-switch-plus-img {
  position: absolute;
  right: 8.55%;
  top: -.875rem;
}

.catalog-switch-option {
  display: inline-block;
  text-align: center;
  padding: .5rem 1.25rem;
  cursor: pointer;
}

.catalog-switch-option p {
  display: inline-block;
  text-decoration: none;
}

.catalog-switch-option-public {
  width: 12.063rem;
}

.catalog-switch-option-unique {
  width: 12.5rem;
}

.catalog-switch-line {
  height: 2px;
  width: 12.063rem;
  margin-left: 0;
  background: #3A85FF;
  border: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: absolute;
  z-index: 3;
}

.catalog-background-line {
  height: 2px;
  width: 100%;
  background: #505258;
  border: none;
  position: absolute;
  z-index: 1;
}

.catalog-info-public {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.catalog-info-public-cards {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  --gap: 2rem;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

.catalog-info-public-cards-item {
  width: 24rem;
  height: 15rem;
  background-color: #2D2F35;
  border-radius: 8px;
  padding: 1.25rem;
  margin: var(--gap) 0 0 var(--gap);
  position: relative;
}

.catalog-info-public-cards-item h4 {
  font-weight: 600;
  max-width: 17.375rem;
  margin-bottom: 1rem;
}

.catalog-info-public-cards-item p {
  max-width: 17.375rem;
  margin-bottom: 1.5rem;
}

.catalog-info-public-cards-item button {
  padding: .625rem 1.5rem;
  position: absolute;
  left: 1.25rem;
  bottom: 1.25rem;
}

.catalog-info-public-cards-item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background: #22242A;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

.catalog-info-unique {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.catalog-info-unique-cards {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  --gap: 2rem;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

.catalog-info-unique-cards-item {
  width: 24rem;
  height: 11rem;
  background-color: #2D2F35;
  border-radius: 8px;
  padding: 1.25rem;
  margin: var(--gap) 0 0 var(--gap);
  position: relative;
}

.catalog-info-unique-cards-item h4 {
  font-weight: 600;
  max-width: 17.375rem;
  margin-bottom: 1rem;
}

.catalog-info-unique-cards-item p {
  max-width: 17.375rem;
  margin-bottom: 1.5rem;
}

.catalog-info-unique-cards-item button {
  padding: .625rem 1.5rem;
  position: absolute;
  left: 1.25rem;
  bottom: 1.25rem;
}

.catalog-info-unique-cards-item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background: #22242A;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

/* ----------------------- CONNECTION PAGE ----------------------- */
.connection-bg {
  position: relative;
  overflow: visible;
}

.connection-bg-rhombus-img {
  position: absolute;
  right: 13.2%;
  bottom: -1.75rem;
  z-index: 3;
}

.connection-content-wrapper {
  overflow: hidden;
}

.connection {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
}

.connection-header {
  margin-bottom: 1.75rem;
}

.connection-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 62.5rem;
  position: relative;
}

.connection-section-general {
  margin-bottom: 2.25rem;
}

.connection-section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.connection-section-title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background: #22242A;
}

.connection-section-title h3 {
  font-weight: 600;
  margin-left: 1.25rem;
  width: 14.625rem;
}

.connection-section-plus-img {
  position: absolute;
  top: 5.938rem;
  left: 6.5rem;
}

.connection-section-instruction {
  padding-top: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connection-section-instruction-title {
  font-size: 1.125rem;
  width: 34.5rem;
  margin-bottom: 1.5rem;
}

.connection-section-instruction-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1rem;
}

.connection-section-instruction-step-text {
  width: 32.25rem;
  margin-left: 2rem;
}

.connection-section-instruction-step h4 {
  font-weight: 600;
  color: #ffffff;
}

.connection-section-arrow-img {
  height: 13.125rem;
  position: absolute;
  right: -10.5rem;
  top: -.5rem;
}
/*# sourceMappingURL=style.css.map */